@import 'tailwindcss';
@import './ColorSystem.css';
@import './TypoSystem.css';

@theme {
  --frame-width: 402px;
}

@layer base {
  
  html {
    scrollbar-gutter: stable;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    background-color: var(--color-white);
    color: var(--color-black);
    overflow-y: auto;
    overscroll-behavior: none;
    font-family: 'Pretendard', sans-serif;
  }

}
